<footer class="footer">
  <div class="container">
    <div class="footer_holder">
      <div class="footer_menu">
        <ul class="main-menu main-menu__white">
          <li>
            <a href="#">Услуги <i></i></a>
            <div class="main-submenu main-submenu__down">
              <ul>
                <li><a href="#">Распил ДСП, МДФ, ДВП, ХДВ</a></li>
                <li><a href="#">Обработка кромки ПВХ</a></li>
                <li><a href="#">Присадка (рассверловка отверстий)</a></li>
                <li><a href="#">Изготовление прямолинейных и криволинейных деталей</a></li>
                <li><a href="#">Изготовление дверей купе</a></li>
                <li><a href="#">Стеклообработка</a></li>
                <li><a href="#">Пескоструйная обработка стекла и зеркала</a></li>
                <li><a href="#">Изделия из искусственного камня</a></li>
                <li><a href="#">Упаковка и доставка</a></li>
              </ul>
            </div>
          </li>
          <li><a href="#">Цены</a></li>
          <li><a href="#">Оплата и доставка</a></li>
          <li><a href="#">Производство</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
      <div class="madeby">
        <span>Создание сайта</span>
        <a href="#"><i class="ficon-inteo"></i></a>
      </div>
    </div>
  </div>
</footer>