<header class="header">
  <div class="header_info">
    <div class="container">
      <div class="header_holder">
        <span>Профессиональный распил ЛДСП и МДФ</span>
        <a href="#" class="btn"><i class="ficon-list"></i>Отправить заявку на расчет</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header_main">
      <div class="header_holder">
        <a href="/" class="header_logo">
          <img src="img/logo.svg" alt="">
          <span>Профессионально. Надежно. В срок.</span>
        </a>
        <div class="header_menu">
          <ul class="main-menu">
            <li>
              <a href="#">Услуги <i></i></a>
              <div class="main-submenu">
                <ul>
                  <li><a href="#">Распил ДСП, МДФ, ДВП, ХДВ</a></li>
                  <li><a href="#">Обработка кромки ПВХ</a></li>
                  <li><a href="#">Присадка (рассверловка отверстий)</a></li>
                  <li><a href="#">Изготовление прямолинейных и криволинейных деталей</a></li>
                  <li><a href="#">Изготовление дверей купе</a></li>
                  <li><a href="#">Стеклообработка</a></li>
                  <li><a href="#">Пескоструйная обработка стекла и зеркала</a></li>
                  <li><a href="#">Изделия из искусственного камня</a></li>
                  <li><a href="#">Упаковка и доставка</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">Цены</a></li>
            <li><a href="#">Оплата и доставка</a></li>
            <li><a href="#">Производство</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
        <div class="header_phone">
          <b>+7 (4852) 33-46-06</b>
          <p>Прием заказов и консультация</p>
        </div>
      </div>
    </div>
    <div class="header_menu header_menu__mobile">
      <ul class="main-menu">
        <li>
          <a href="#">Услуги <i></i></a>
          <div class="main-submenu">
            <ul>
              <li><a href="#">Распил ДСП, МДФ, ДВП, ХДВ</a></li>
              <li><a href="#">Обработка кромки ПВХ</a></li>
              <li><a href="#">Присадка (рассверловка отверстий)</a></li>
              <li><a href="#">Изготовление прямолинейных и криволинейных деталей</a></li>
              <li><a href="#">Изготовление дверей купе</a></li>
              <li><a href="#">Стеклообработка</a></li>
              <li><a href="#">Пескоструйная обработка стекла и зеркала</a></li>
              <li><a href="#">Изделия из искусственного камня</a></li>
              <li><a href="#">Упаковка и доставка</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#">Цены</a></li>
        <li><a href="#">Оплата и доставка</a></li>
        <li><a href="#">Производство</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </div>
  </div>
</header>
